@import url(../font/beon.zip);


nav{
    background-color: #110216;
    width: 15em;
    height: 5em;
    padding-right: 4em;
}

ul{
    list-style-type: none;
}

nav img{
    width: 4em;
    
}

body {
    background-image: url(../images/ingang.jpg), linear-gradient(#000000, #170217);
    background-repeat: no-repeat;
}

h1,h2,p,h3 {
    color: white;
}

p {
    width: 50%;
}

h1 {
    width: 50%;
    position: relative;
    left: 1em;
    font-size: 300%;
    margin-bottom: 4.5em;
}

h2 { /* bron: https://www.w3schools.com/css/css3_shadows.asp + studentassistente Eva Boogaard*/
    color: rgb(255, 85, 184);
    text-shadow: 0px 0px 6px hotpink;
    border: 2px solid rgb(107, 193, 255);
    width: 7em;
    padding: 0.5em;
    border-radius: 0.5em;
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
}

/* amsterdam tekst met foto */
section:nth-of-type(1){
    max-width: 100%;
    position: relative;
}

/*openingstijden*/
section:nth-of-type(2){
    padding: 1em;
}


section:nth-of-type(1) img {
    position: relative;
    left: 1em;
    top: 5em;
    width: 90%;
}

/*tekst van openingstijden*/
section:nth-of-type(2) h2{
    font-size: 1.5em;
    font-weight: lighter;
}

section:nth-of-type(2) h3{
    font-size: 1.5em;
    font-weight: bold;
}

section:nth-of-type(2) p{
    font-size: 1.5em;
    font-weight: bold;
}

/*unordered list voor de iconen en bijhorende tekst + locatie en contact*/
section:nth-of-type(3) ul{
    padding: 0%;
}

section:nth-of-type(3) li{
    display: flex;
    width: 20em;
    margin: 0;
}
/*properties voor alle iconen*/
section:nth-of-type(3) li img {
    width: 15%;
    height: 10%;
    padding: 1em;
}

section:nth-of-type(3) li p {
    width: 85%;
    padding: 0,1em,0,1em;
    font-weight: bold;
    font-size: 1.5em;
}

section:nth-of-type(3) li:nth-of-type(4){
    display: flex;
    flex-wrap: wrap;
    width: 20em;
    padding: 1em;
    position: relative;
}

/*"huidig" stukje tekst*/
section:nth-of-type(3) li:nth-of-type(5) {
    display: flex;
    flex-wrap: wrap;
    width: 20em;
    padding: 4em 0 0 1em;
    margin-right: 0;
}

section:nth-of-type(3) li:nth-of-type(4) img {
    width: 90%;
    height: 100%;
}

section:nth-of-type(3) li:nth-of-type(4) p{
    font-size: small;
    width: 10em;
}


section:nth-of-type(3) li:nth-of-type(5) h3{
    font-size: 2.5em;
    font-weight: bold;
    width: 100%;
    margin: 0;
}

section:nth-of-type(3) li:nth-of-type(5) p{
    font-size: 1.5em;
    font-weight: light;
    width: 75%;
}

section:nth-of-type(3) li:nth-of-type(4) h3:first-of-type{
    left: 10px;
}

section:nth-of-type(3) li:nth-of-type(4) h3:last-of-type{
    padding-left: 6em;
}

section:nth-of-type(3) li:nth-of-type(4) p:last-of-type{
    font-size: small;
    width: 10em;
    padding-left: 2em;
}
